<!DOCTYPE html>
<html lang="en" data-theme="caramellatte">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BookSnaps.Webapp</title>
    <link rel="stylesheet" href="~/css/output.css"/>
</head>
<body class="flex flex-col min-h-screen">
<main role="main" class="flex-1 flex flex-col items-center">
    @RenderBody()
    @await Html.PartialAsync("_Toast")
</main>

@await Html.PartialAsync("_BodyImports")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
