@model IEnumerable<BookViewModel>


@if (Model.Any())
{
    <div id="book-grid"class="grid grid-cols-1 sm:grid-cols-3 gap-y-4 gap-x-4 ">
        @foreach (var book in Model)
        {
            <partial name="_CardBook" model="book" />
        }
        <div class="sm:hidden mb-4"></div>
    </div>
}
else
{
    <div id="notfound" class="flex flex-row justify-center mt-8">
        <span class="text-secondary text-xl">Nenhum livro encontrado!</span>
    </div>
}

