@model LoginInputModel

@{
    ViewBag.Title = "Login";
    Layout = "_AccountLayout";
}

<div class="w-full lg:w-2/5 min-h-screen ">
    <div class="flex flex-row justify-center items-center mt-8">
        <div class="avatar">
            <div class="w-16 rounded">
                <img src="~/images/logo.png" alt="logo"/>
            </div>
        </div>
        <div class="mx-2"></div>
        <h1 class="text-3xl font-bold text-neutral">BookSnaps</h1>
    </div>

    <div class="lg:mt-4">
        <p class="text-center text-info text-base">Entre na sua conta para acessar seus destaques</p>
    </div>

    <form class="mt-4 lg:mt-16" asp-action="Login" asp-controller="Account" method="post">
        @Html.AntiForgeryToken()
        <div class="card w-80 lg:w-2/3 bg-base-100 card-xl shadow-2xl mx-auto">
            <div class="card-body items-center">
                <h2 class="card-title text-neutral text-3xl">Entrar</h2>
                <p class="text-info text-base">Digite seu email e senha para acessar a conta</p>
                <div class="my-2"></div>
                <fieldset class="fieldset w-full ">
                    <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Email)</legend>
                    <input type="text" asp-for="Email" class="input w-full input-lg" placeholder="exemple@mail.com"/>
                    <span class="text-error" asp-validation-for="Email"></span>
                </fieldset>
                <fieldset class="fieldset w-full ">
                    <legend class="fieldset-legend">@Html.DisplayNameFor(m => m.Password)</legend>
                    <input type="password" asp-for="Password" class="input w-full input-lg"/>
                    <span class="text-error" asp-validation-for="Password"></span>
                </fieldset>

                <div class="justify-end card-actions w-full">
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </div>
                <div class="my-2"></div>
                <div>
                    <p class="text-sm text-info">
                        Não tem conta?
                        <a class="link link-hover text-neutral font-bold" asp-action="Register">Criar conta</a>
                    </p>

                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
   @await Html.PartialAsync("_ValidationScriptsPartial") 
}